* {
    box-sizing: border-box
}

body,
html {
    font: 100%/1.5em;
    font-family: Roboto, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #fff
}

input {
    margin: 0 .3rem
}

.subtitle {
    font-family: Bernier, sans-serif;
    font-size: 2.19rem;
    margin: 2.5rem 0
}

.container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column
}

.header {
    display: flex;
    justify-content: flex-end
}

.content {
    display: flex;
    min-height: 92vh;
    flex: 1 0 auto
}

#singin__box {
    display: flex;
    width: 11.25rem;
	height: 3.1rem;
    border: 1px solid #fff;
    border-radius: .3rem;
    color: #fff;
    text-align: center;
    margin-top: 1.25rem;
	transition: .3s;
	cursor: pointer;
	background-color: transparent;
}

.singin {
    margin: auto
}

#singin__box:hover {
	background: #55dbc5;
	border-color: #55dbc5;
    color: #FFF;
    cursor: pointer
}

.flip-container {
    height: 24.69rem;
    width: 23.75rem;
    margin: auto;
    perspective: 1000;
    -moz-perspective: 1000
}

#flipper {
    transition: .6s;
    transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    position: relative
}

#flipper,
.welcome {
    height: 100%;
    width: 100%
}

.welcome {
    background: hsla(0, 0%, 100%, .7);
    margin: auto;
    border-radius: .44rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-top: 2rem;
    overflow: hidden;
    color: #435460
}

.front {
    z-index: 2
}

.back,
.front {
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0
}

.back {
    height: 100%;
    width: 100%;
    background: hsla(0, 0%, 100%, .7);
    color: #435460;
    border-radius: .44rem;
    transform: rotateY(180deg);
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden
}

.welcome__img {
    display: flex;
    justify-content: center;
    height: 12.5rem
}

.welcome__img_ava {
    display: flex;
    width: 8.75rem;
    height: 8.44rem;
    border-radius: 50%;
    max-width: 100%
}

.welcome__text {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 1rem auto
}

.welcome__title {
    text-align: center;
    color: #34454e;
    margin: 0 auto
}

.welcome__title_small {
    text-align: center;
    color: #546570;
    font-size: .88rem;
    padding: .63rem 0
}

.icon,
.welcome__socials_icon {
    color: #00b69e
}

.icon {
    font-size: 1.2rem;
    transition: .3s
}

.icon:hover {
    color: #fff
}

.nav__list {
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 0;
    opacity: .7;
    margin-bottom: 0;
    font-weight: 700
}

.nav__list_item {
    text-align: center;
    width: 33.33%;
    height: 3.1rem;
    background-color: #00b69e;
    line-height: 3.1rem;
    transition: .3s
}

.nav__list_item:hover {
    background-color: #008f83;
    cursor: pointer
}

.item_m {
    margin-right: 1px
}

.nav__list_link {
    display: block;
    height: 100%
}

.welcome__socials {
    display: flex;
    justify-content: center;
    height: 10vh
}

.welcome__socials_icon {
    margin: auto 1.25rem
}

.footer {
    color: gray;
    height: 7vh;
    width: 100%;
    flex: 0 0 auto
}

.footer__text {
    font-size: .75rem;
    width: 50%;
    margin: 0 auto;
    text-align: center
}

.back-input__wrap {
    height: 60%;
    flex-direction: column;
    justify-content: space-around
}

.back-input__wrap,
.input-container {
    display: flex;
    align-items: center
}

.input-icon__wrap {
    border-radius: 5px 0 0 5px;
    height: 2rem;
    width: 2rem;
    background: hsla(185, 4%, 50%, .4);
    display: flex
}

.input__icon {
    margin: auto
}

.back__input {
    border-radius: 0 5px 5px 0;
    height: 2rem;
    padding: .5rem;
    margin: .3rem .3rem .3rem 0
}

.test-human__wrap {
    display: flex
}

#no:checked+.text-no,
#test-human:checked+.test-human__text,
#yes:checked+.text-yes {
    color: #00b69e
}

.test-robot__wrap {
    display: flex
}

.back__nav {
    width: 100%
}

.back__btn {
    width: 50%
}

#parallax {
    overflow: hidden;
    background: #dadbd3;
    z-index: -3
}

#parallax,
.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.parallax__image {
    width: 120%;
    height: 120%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

@media screen and (max-width:770px) {
    .flip-container {
        width: 21.75rem
    }
}

@media screen and (max-width:350px) {
    html {
        font-size: 14px
    }
    .header {
        justify-content: center
    }
    .flip-container {
        height: 28.2rem
    }
}

@font-face {
    font-family: icomoon;
    src: url(/fonts/icomoon.eot);
    src: url(/fonts/icomoon.eot) format("embedded-opentype"), url(/fonts/icomoon.ttf) format("truetype"), url(/fonts/icomoon.woff) format("woff"), url(/fonts/icomoon.svg) format("svg");
    font-weight: 400;
    font-style: normal
}

[class*=" icon-"],
[class^=icon-] {
    font-family: icomoon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-works_header:before {
    content: "\E900"
}

.icon-telegram_logo:before {
    content: "\E901"
}

.icon-skype_n:before {
    content: "\E902"
}

.icon-skype:before {
    content: "\E903"
}

.icon-portfolio_header:before {
    content: "\E904"
}

.icon-portf_arrow_up:before {
    content: "\E905"
}

.icon-portf_arrow_down:before {
    content: "\E906"
}

.icon-phone2:before {
    content: "\E907"
}

.icon-login:before {
    content: "\E908"
}

.icon-phone:before {
    content: "\E909"
}

.icon-link:before {
    content: "\E90A"
}

.icon-in:before {
    content: "\E90B"
}

.icon-hamburger:before {
    content: "\E90C"
}

.icon-vk_round:before {
    content: "\E90D"
}

.icon-in_round:before {
    content: "\E90E"
}

.icon-github_round:before {
    content: "\E90F"
}

.icon-map_marker:before {
    content: "\E910"
}

.icon-github:before {
    content: "\E911"
}

.icon-phone_n:before {
    content: "\E912"
}

.icon-map_n:before {
    content: "\E913"
}

.icon-envelope_n:before {
    content: "\E914"
}

.icon-vk:before {
    content: "\E915"
}

.icon-envelope:before {
    content: "\E916"
}

.icon-check:before {
    content: "\E917"
}

.icon-blog_header:before {
    content: "\E918"
}

.icon-about_header:before {
    content: "\E919"
}

.icon-password:before {
    content: "\E91A"
}

.icon-envelope2:before {
    content: "\E91B"
}

.icon-arrow_down:before {
    content: "\E91C"
}